@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(246, 252, 210);
}

html {
  @apply min-w-80;
}

.header__li {
  @apply flex items-center gap-3 text-gray-500 hover:text-black cursor-pointer duration-500 transition-all;
}

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
}

@layer components {
  .btn-blue {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
  }
}

@layer utilities {
  .filter-none {
    filter: none;
  }
  .filter-grayscale {
    filter: grayscale(100%);
  }
}
